# Core
pandas
numpy
python-dotenv
requests
tqdm
re
unicodedata
pathlib

# Visualización
matplotlib
seaborn
plotly
wordcloud

# Streamlit
streamlit
streamlit-aggrid
streamlit-extras

# Machine Learning y Estadística
scikit-learn
prophet
statsmodels

# Bases de datos
sqlalchemy

# IA / NLP
openai
langchain
